<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tech News</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptatum magni laborum quam itaque expedita! Facilis atque perferendis earum est itaque ipsam provident. Rerum consequatur odio minima. Suscipit, iure dolorem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam mollitia, optio aspernatur vitae praesentium accusantium eius corrupti reprehenderit, labore dolore, iure necessitatibus qui et vel minus nulla minima excepturi vero?</p>
    <br>
    <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus inventore veritatis quaerat quia ullam, accusamus saepe molestiae, ad voluptate autem deleniti totam magnam doloremque explicabo nemo temporibus, dicta aliquam. Quaerat!</p>
    </div>
</body>
</html>