<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Breaking News</title>
		<script src="js/jquery-2.2.1.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href="css/style.css" rel="stylesheet">
		<link rel="shortcut icon" href="images/favicon.ico" />
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<img src="images/logo.png" />
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="index">HOME</a></li>
					</ul>
				</div>
			</div>
		</nav>


	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-8">
	    			<div class="news_wrapper">
		    			<span class="news_author">By <%= news[0].author %></span>
		    			<a href="news?id_news=<%= news[0].id %>" class="news_title"><%= news[0].title %></a>
		    			<span class="news_date"><%= news[0].created_at %></span>
		    			<br />
		    			<p class="news_summary">
							<%= news[0].content %>
		    			</p>
		    		</div>
		    	</div>

                <div class="col-md-4">
	    			<div class="news_wrapper">
		    			<span class="news_author">By <%= news[1].author %></span>
		    			<a href="news?id_news=<%= news[1].id %>" class="news_title"><%= news[1].title %></a>
		    			<span class="news_date"><%= news[1].created_at %></span>
		    			<br />
		    			<p class="news_summary">
		    				<%= news[1].content %>
		    			</p>
		    		</div>
		    	</div>
	    	</div>

	    	<div class="row">
				<% for(let i = 2; news.length > i; i++) { %>
	    		<div class="col-md-4">
	    			<div class="news_wrapper">
		    			<span class="news_author">By <%= news[i].author %></span>
		    			<a href="news?id_news=<%= news[i].id %>" class="news_title"><%= news[i].title %></a>
		    			<span class="news_date"><%= news[i].created_at %></span>
		    			<br />
		    			<p class="news_summary">
		    				<%= news[i].content %>
		    			</p>
		    		</div>
		    	</div>
				<% } %>

	    	</div>

	    	<div class="row see_more">
	    		<button type="button" class="btn btn-default"><a href="main">More news</a></button>
	    	</div>

	    </div>
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>