<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Add news</title>
		<script src="js/jquery-2.2.1.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href="css/style.css" rel="stylesheet">
		<link rel="shortcut icon" href="images/favicon.ico" />
	</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="images/logo.png" />
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">HOME</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>Add news</h1>
        <% if(errors.length) { %>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <strong>Attention!</strong>
                        <ul>
                            <% for(let i = 0; i < errors.length; i++) { %>
                                <li>
                                    <%= errors[i].msg %>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="row">
        <div class="col-md-12">
            <form action="news/save" method="post">
                <div class="form-group">
                    <label for="titulo">Title:</label>
                    <input type="text" class="form-control" id="title" name="title"  value="<%= data.title %>">
                </div>
                <div class="form-group">
                    <label for="pwd">Subtitle:</label>
                    <input type="text" class="form-control" id="subtitle" name="subtitle"  value="<%= data.subtitle %>">
                </div>
                <div class="form-group">
                    <label for="pwd">Author:</label>
                    <input type="text" class="form-control" id="author" name="author" value="<%= data.author %>">
                </div>
                <div class="form-group">
                    <label for="pwd">News Content:</label>
                    <textarea class="form-control" id="content" name="content" rows="5" value="<%= data.content %>"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Register</button>
            </form>
        </div>
</div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>